DATABASE_URL="postgresql://USER:PASSWORD@127.0.0.1:5432/kvs_demo_backend?schema=public"
PORT=5000
CORS_ORIGINS=https://kvs-demo.karsa-dev.my.id
MAX_UPLOAD_SIZE=10485760
JWT_SECRET="CHANGE_ME"
AUTH_SEED_KEY="CHANGE_ME"
AUTH_SEED_PASSWORD="CHANGE_ME"
URL_ID_SECRET="CHANGE_ME"
